body {
  background-color: #FFF6EA;
}

hr {
  border-color: #EBD8C3;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
}


h1 {
  color: lightsalmon;
}


h3 {
  color: lightsalmon;
}
